<div class="card text-dark bg-light">
  <div class="card-header">
    <h1 class="text-center">{{ titulo }}</h1>
  </div>
  <div class="card-body">
    <div class="alert alert-info my-3 text-center" *ngIf="lista?.length == 0">
      ¡No hay Pedidos cargados en el Sistema!
    </div>
    <table
      class="table table-hover table-striped text-center align-middle"
      *ngIf="lista?.length > 0"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cliente</th>
          <th scope="col">Pedido nro.</th>
          <th scope="col">Detalle de Pedido</th>
          <th scope="col">Estado Actual</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora estimada entrega</th>
          <th scope="col">Tipo de Envío</th>
          <th scope="col" *ngIf="userRol === 'Cajero'">Aprobar</th>
          <th scope="col" *ngIf="userRol === 'Cajero'">Rechazar</th>
          <th scope="col" *ngIf="userRol === 'Cocinero'">Terminar</th>
          <th scope="col" *ngIf="userRol === 'Cajero'">Facturar</th>
          <th scope="col" *ngIf="userRol === 'Cajero'">Delivery</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of lista; let indicePedido = index">
          <td>{{ pedido.id }}</td>
          <td>{{ pedido.cliente.nombre }}, {{ pedido.cliente.apellido }}</td>
          <td>{{ pedido.numero }}</td>
          <td>
            <a class="link-prod" [routerLink]="['/pedido-detalle', pedido.id]"
              >Ver</a
            >
          </td>
          <td>
            {{ pedido.estadoPedido.denominacion }}
          </td>
          <td>
            {{ pedido.fecha | date: "EEEE, d/M/yy, h:mm a" | uppercase }}
          </td>
          <td>
            {{
              pedido.horaEstimadaFin | date: "EEEE, d/M/yy, h:mm a" | uppercase
            }}
          </td>
          <td>
            {{ pedido.tipoEnvio === 0 ? "Retiro en local" : "Domicilio" }}
          </td>
          <td *ngIf="userRol === 'Cajero'">
            <button
              type="button"
              class="btn btn-sm btn-outline-primary"
              (click)="aprobarPedido(pedido.id)"
              [disabled]="
                pedido.estadoPedido.denominacion == 'APROBADO' ||
                pedido.estadoPedido.denominacion == 'TERMINADO' ||
                pedido.estadoPedido.denominacion == 'FACTURADO' ||
                pedido.estadoPedido.denominacion == 'EN DELIVERY'
              "
            >
              {{
                pedido.estadoPedido.denominacion == "APROBADO"
                  ? "Aprobado"
                  : "Aprobar"
              }}
            </button>
          </td>
          <td *ngIf="userRol === 'Cajero'">
            <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              (click)="rechazarPedido(pedido.id)"
              [disabled]="
                pedido.estadoPedido.denominacion == 'RECHAZADO' ||
                pedido.estadoPedido.denominacion == 'TERMINADO' ||
                pedido.estadoPedido.denominacion == 'FACTURADO' ||
                pedido.estadoPedido.denominacion == 'EN DELIVERY'
              "
            >
              {{
                pedido.estadoPedido.denominacion == "RECHAZADO"
                  ? "Rechazado"
                  : "Rechazar"
              }}
            </button>
          </td>
          <td *ngIf="userRol === 'Cocinero'">
            <button
              type="button"
              class="btn btn-sm btn-outline-dark"
              (click)="terminarPedido(pedido.id)"
              [disabled]="
                pedido.estadoPedido.denominacion == 'TERMINADO' ||
                pedido.estadoPedido.denominacion == 'FACTURADO'
              "
            >
              {{
                pedido.estadoPedido.denominacion == "TERMINADO"
                  ? "Terminado"
                  : "Terminar"
              }}
            </button>
          </td>
          <td *ngIf="userRol === 'Cajero'">
            <button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="facturarPedido(pedido)"
              [disabled]="
                pedido.estadoPedido.denominacion == 'PENDIENTE' ||
                pedido.estadoPedido.denominacion == 'APROBADO' ||
                pedido.estadoPedido.denominacion == 'RECHAZADO' ||
                pedido.estadoPedido.denominacion == 'FACTURADO' ||
                (pedido.estadoPedido.denominacion == 'TERMINADO' &&
                  pedido.tipoEnvio == 1)
              "
            >
              {{
                pedido.estadoPedido.denominacion == "FACTURADO"
                  ? "Facturado"
                  : "Facturar"
              }}
            </button>
          </td>
          <td *ngIf="userRol === 'Cajero'">
            <button
              type="button"
              class="btn btn-sm btn-dark"
              (click)="enviarDelivery(pedido.id)"
              [disabled]="
                pedido.tipoEnvio == 0 ||
                pedido.estadoPedido.denominacion == 'PENDIENTE' ||
                pedido.estadoPedido.denominacion == 'APROBADO' ||
                pedido.estadoPedido.denominacion == 'RECHAZADO' ||
                pedido.estadoPedido.denominacion == 'FACTURADO' ||
                pedido.estadoPedido.denominacion == 'EN DELIVERY'
              "
            >
              {{
                pedido.estadoPedido.denominacion == "EN DELIVERY"
                  ? "En viaje"
                  : "Despachar"
              }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <mat-paginator
      *ngIf="lista?.length > 0"
      [length]="totalRegistros"
      [pageSize]="totalPorPagina"
      [pageIndex]="paginaActual"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      (page)="paginar($event)"
    >
    </mat-paginator> -->
  </div>
</div>
