<h1 class="text-center fs-1 mt-5">
  ¡Bienvenidos a <b><i>El Buen Sabor</i></b> !
</h1>
<div class="text-center fs-4 my-5">
  <p class="my-5 lh-lg">
    Ofrecemos a nuestros clientes una amplia variedad de bebidas y de comidas de
    fabricación propia.<br />
    Horarios de atención: LUNES a VIERNES de 20:00 HS a 12:00 HS, y SÁBADOS y
    DOMIGOS de 11:00 HS a 15:00 HS.
  </p>
</div>

<h2 class="my-5 text-center fs-2">Productos de Elaboración Propia</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let artManuf of arrArtManufacturados">
    <a class="link-prod" [routerLink]="['/producto-detalle', artManuf.id]">
      <div class="card">
        <img
          *ngIf="artManuf.imagenHashCode"
          [src]="
            baseEndpoint +
            '/cargar/img/' +
            artManuf.id +
            '?imagenHashCode=' +
            artManuf.imagenHashCode
          "
          alt="img-artManuf"
        />
        <img
          *ngIf="!artManuf.imagenHashCode"
          src="/assets/images/art-manuf-no-img.png"
          alt="img-artManuf"
        />

        <div class="card-body text-center">
          <h2 class="card-title">{{ artManuf.denominacion }}</h2>
          <p class="card-text fs-5">$ {{ artManuf.precioVenta }}</p>
        </div>
      </div>
    </a>
  </div>
</div>

<h2 class="my-5 text-center fs-2">Bebidas</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let bebida of arrBebidas">
    <a class="link-prod" [routerLink]="['/bebida-detalle', bebida.id]">
      <div class="card">
        <img
          *ngIf="bebida.imagenHashCode"
          [src]="
            baseEndpoint +
            '/cargar/img/' +
            bebida.id +
            '?imagenHashCode=' +
            bebida.imagenHashCode
          "
          alt="img-bebida"
        />
        <img
          *ngIf="!bebida.imagenHashCode"
          src="/assets/images/no-bebida-img.png"
          alt="img-bebida"
        />

        <div class="card-body text-center">
          <h2 class="card-title">{{ bebida.denominacion }}</h2>
          <p class="card-text fs-5">$ {{ bebida.precioVenta }}</p>
        </div>
      </div>
    </a>
  </div>
</div>
