<div class="card text-dark bg-light">
  <div class="card-header text-center">
    <h1 class="pt-3">Carrito de Compras</h1>
  </div>
  <div class="card-body">
    <div class="alert alert-warning my-3 text-center" *ngIf="items?.length == 0">
      ¡El carrito de compras está vacío!
    </div>
    <table
      class="table table-hover table-striped text-center"
      *ngIf="items?.length > 0"
    >
      <thead>
        <tr>
          <th scope="col">Imagen</th>
          <th scope="col">Denominación</th>
          <th scope="col">Precio</th>
          <th scope="col">Eliminar Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items" class="align-middle">
          <td>
            <img
              *ngIf="item.imagenHashCode"
              [src]="
                baseEndpoint +
                '/cargar/img/' +
                item.product.id +
                '?imagenHashCode=' +
                item.product.imagenHashCode
              "
              alt="img-item"
              class="img-thumbnail rounded"
              style="width: 100px; cursor: pointer"
            />
            <img
              *ngIf="!item.imagenHashCode"
              src="/assets/images/art-manuf-no-img.png"
              alt="img-artManuf"
              class="img-thumbnail rounded"
              style="width: 100px; cursor: pointer"
            />
          </td>
          <td>{{ item.product.denominacion }}</td>
          <td>$ {{ item.product.precioVenta }} x {{ item.quantity }}</td>
          <td>
            <button
              (click)="eliminarItem(item)"
              class="btn btn-sm btn-outline-danger"
            >
              <i class="fas fa-trash fs-5 p-1"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-end">
    <p class="pt-3 h6">
      <b>Total: ${{ total }}</b>
    </p>
  </div>
  <div class="text-start m-3">
    <a (click)="goBack()" class="btn btn-secondary">Volver</a>
  </div>
</div>
