.footer {
  background-color: #333;
  color: rgb(211, 221, 230);
  text-align: center;
  width: 100%;
  padding: 31px;
  position: static;        /* for it to disappear under last body element */
  bottom: 0;
}

