<div class="card text-dark bg-light">
  <div class="card-header">
    <h3>{{ titulo }}</h3>
  </div>
  <div class="card-body">
    <a
      routerLink="/articulos-insumo/form"
      class="btn btn-lg btn-outline-primary"
      >Crear</a
    >
    <div class="alert alert-info my-3 text-center" *ngIf="lista?.length == 0">
      ¡No hay artículos insumo cargados en el Sistema!
    </div>
    <table
      class="table table-hover table-striped text-center"
      *ngIf="lista?.length > 0"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Imagen</th>
          <th scope="col">Denominación</th>
          <th scope="col">Creado en</th>
          <th scope="col">Actualizado en</th>
          <th scope="col">Precio de Compra</th>
          <th scope="col">Precio de Venta</th>
          <th scope="col">Stock Mínimo</th>
          <th scope="col">Stock Actual</th>
          <th scope="col">Unidad de Medida</th>
          <th scope="col">Insumo/Bebida</th>
          <th scope="col">Rubro Padre</th>
          <th scope="col">Rubro Hijo</th>
          <th scope="col">Estado</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artInsumo of lista">
          <td>{{ artInsumo.id }}</td>
          <td>
            <img
              *ngIf="artInsumo.imagenHashCode"
              [src]="
                baseEndpoint +
                '/cargar/img/' +
                artInsumo.id +
                '?imagenHashCode=' +
                artInsumo.imagenHashCode
              "
              alt="img-artInsumo"
              class="img-thumbnail rounded"
              style="width: 100px; cursor: pointer"
            />
            <img
              *ngIf="!artInsumo.imagenHashCode"
              src="/assets/images/insumo-no-img.png"
              alt="img-artInsumo"
              class="img-thumbnail rounded"
              style="width: 100px; cursor: pointer"
            />
          </td>
          <td>{{ artInsumo.denominacion }}</td>
          <td>
            {{ artInsumo.createdAt | date: "yyyy/MM/dd" }}
          </td>
          <td>
            {{ artInsumo.updatedAt | date: "yyyy/MM/dd" }}
          </td>
          <td>${{ artInsumo.precioCompra }}</td>
          <td>${{ artInsumo.precioVenta }}</td>
          <td>{{ artInsumo.stockMinimo }}</td>
          <td>{{ artInsumo.stockActual }}</td>
          <td>{{ artInsumo.unidadMedida }}</td>
          <td>{{ artInsumo.esInsumo ? "Insumo" : "Bebida" }}</td>
          <td>
            {{
              artInsumo.rubroPadre?.denominacion
                ? artInsumo.rubroPadre?.denominacion
                : "No posee"
            }}
          </td>
          <td>
            {{
              artInsumo.rubroHijo?.denominacion
                ? artInsumo.rubroHijo?.denominacion
                : "No posee"
            }}
          </td>
          <td>
            {{
              (artInsumo.estado === 1 ? "Habilitado" : "Deshabilitado")
                | uppercase
            }}
          </td>
          <td>
            <a
              class="btn btn-sm btn-outline-dark"
              [routerLink]="['/articulos-insumo/form', artInsumo.id]"
              >Editar</a
            >
          </td>
          <td>
            <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              (click)="eliminar(artInsumo)"
              [disabled]="!artInsumo.estado"
            >
              {{ !artInsumo.estado ? "Eliminado" : "Eliminar" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      *ngIf="lista?.length > 0"
      [length]="totalRegistros"
      [pageSize]="totalPorPagina"
      [pageIndex]="paginaActual"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      (page)="paginar($event)"
    >
    </mat-paginator>
  </div>
</div>
